name: release
on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release-zip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Prepare release
        run: |
          cd ${{ github.workspace }}/custom_components/date_time
          zip -r date_time.zip ./

      - name: Upload zip
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ github.workspace }}/custom_components/date_time/date_time.zip
          asset_name: date_time.zip
          tag: ${{ github.ref }}
          overwrite: true